@using AcopioUP.Models
@{
    var values = ViewContext.RouteData.Values;
}
<li class="@(values["Controller"].ToString() == "Home" && values["Action"].ToString() == "Index" ? "active" : "")">@Html.ActionLink("Inicio", "Index", "Home")</li>
<li class="@(values["Controller"].ToString() == "Products" ? "active" : "")">@Html.ActionLink(User.Identity.IsAuthenticated ? "Productos" : "Donar", "Index", "Products")</li>
@if (User.IsInRole(RoleNames.CanManageDonations))
{
    <li class="@(values["Controller"].ToString() == "Donations" ? "active" : "")">@Html.ActionLink("Mis Donaciones", "Index", "Donations")</li>
}
@if (User.IsInRole(RoleNames.CanManageBeneficiaries))
{
    <li class="@(values["Controller"].ToString() == "Beneficiaries" ? "active" : "")">@Html.ActionLink("Beneficiarios", "Index", "Beneficiaries")</li>
}
@if (User.IsInRole(RoleNames.CanCreateAccounts))
{
    <li class="@(values["Controller"].ToString() == "Address" ? "active" : "")">@Html.ActionLink("Centros de Acopio", "Index", "Address")</li>
}
<li class="@(values["Controller"].ToString() == "Home" && values["Action"].ToString() == "About" ? "active" : "")">@Html.ActionLink("Info", "About", "Home")</li>
<li class="@(values["Controller"].ToString() == "Home" && values["Action"].ToString() == "Contact" ? "active" : "")">@Html.ActionLink("Contacto", "Contact", "Home")</li>