@model AcopioUP.ViewModels.AddressViewModel
@{
    ViewBag.Title = "Address";
}

<h2>@Model.Title</h2>



<div>
    @using (Html.BeginForm("Save", "Address"))
    {
        <div class="form-group">
            @Html.LabelFor(c=>c.StreetAddress)
            @Html.TextBoxFor(c=>c.StreetAddress, new { @class = "form-control", @onfocusout = "updateAddress()"})
            @Html.ValidationMessageFor(c=>c.StreetAddress)
        </div>

        @Html.HiddenFor(c => c.Id)
        @Html.HiddenFor(c => c.Lat)
        @Html.HiddenFor(c => c.Long)

        @Html.AntiForgeryToken()

        <button type="submit" class="btn btn-primary">Guardar</button>
        if (Model.Id != 0)
        {
            <button type="button" id="delete" class="btn btn-danger">Eliminar</button>
        }

    }
</div>

<div id="map" style="width:100%;height:400px; float: right;"></div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsFAxJyQNfimorfTvraKgA8QKQlVwFpRw&callback=initMap"
            async defer></script>
    
    <script>

        function refreshMap() {
            document.getElementById("StreetAddress").focus();
            document.getElementById("StreetAddress").blur();
        }

        function initMap() {
            // Create a map object and specify the DOM element for display.
            var map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 21.824122, lng: -102.283636},
                zoom: 8
            });
        }

        function updateAddress() {

            var address = document.getElementById("StreetAddress").value;
            var encoded = encodeURI(address);

            $.ajax({
                dataType: "json",
                url: "https://maps.googleapis.com/maps/api/geocode/json?address=" +
                    encoded +
                    "&key=AIzaSyCtq_q0geKTAoZnFSnUpJbS5JsWdDtI70E", //TODO: Refactor Geocode API Key...
                success: function (data) { 
                    $.each(data, function (index, element) {

                        var latLng = element[0].geometry.location;

                        var map = new google.maps.Map(document.getElementById('map'),
                            {
                                center: latLng,
                                zoom: 15
                            });

                        var marker = new google.maps.Marker({
                            position: latLng,
                            map: map,
                            title: "my marker"
                        });
                        marker.setMap(map);


                    });
                }
            });
        }
    </script>
    
    <script>
        $(document).ready(function () {

            refreshMap();

            $("#delete").on("click", function () {
                var button = $(this);

                bootbox.confirm({
                    title: '¡Cuidado!',
                    message: '¿Estás seguro que quieres eliminar esta dirección?',
                    buttons: {
                        'cancel': {
                            label: 'Cancelar',
                            className: 'btn-default pull-left'
                        },
                        'confirm': {
                            label: 'Eliminar',
                            className: 'btn-danger pull-right'
                        }
                    },
                    callback: function(result) {
                        if (result) {
                            window.location.href = "/Address/delete/@Model.Id";
                        }
                    }
                });
            });
        });
    </script>

}