@using System.Text.RegularExpressions
@model IEnumerable<AcopioUP.Models.ApplicationUser>
@{
    ViewBag.Title = "List";
}

<h2>Centros de Acopio</h2>

@if (!Model.Any())
{
    <p>No hay Centros de acopio agregados aun</p>
}

@{
    var total = Model.Count();
}

<table id="collection-centers" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Teléfono</th>
        <th>Email</th>
        <th>Dirección</th>
        <th>Mapa</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var collector in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(@collector.Name, "EditProfile", "Account", new { @userId = collector.Id }, new { @class = "btn btn-link" })
            </td>
            <td>
                @Regex.Replace(collector.PhoneNumber, @"(\d{3})(\d{3})(\d{4})", "$1-$2-$3")
            </td>
            <td>
                @collector.Email
            </td>
            <td>
                @collector.Address.StreetAddress
            </td>
            <td>
                <img src="https://maps.googleapis.com/maps/api/staticmap?center=@collector.Address.Lat,@collector.Address.Long&zoom=14&size=200x140&maptype=roadmap&markers=@collector.Address.Lat,@collector.Address.Long&key=AIzaSyB2dQPK3V1LjJu_-cTTeV-9qTyPEfsEynw"
                     alt="Image">
            </td>
        </tr>
    }
    </tbody>
</table>
