@model AcopioUP.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.StreetAddress, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.StreetAddress, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
        </div>
    </div>
    <div id="map" style="height:400px;"></div>
    @Html.HiddenFor(m => m.Lat)
    @Html.HiddenFor(m => m.Long)
    <br/>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsFAxJyQNfimorfTvraKgA8QKQlVwFpRw&amp;libraries=places"></script>
    <script src="/Scripts/jquery.geocomplete.js"></script>
    <script>

        function updateMarker() {
            var map = $("#map");
            var lat = document.getElementById("Lat").value;
            var lng = document.getElementById("Long").value;
            var latlng = new google.maps.LatLng(lat, lng);
            var marker = new google.maps.Marker({
                position: latlng,
                title:"title"
            });
            marker.setMap(map);
        }

        $(document).ready(function () {
            var options = {
                map: "#map",
                mapOptions: {
                    zoom: 15,
                    center: { lat: 19.3728043, lng: -99.1863231 }
                }
            };

            $("#StreetAddress").geocomplete(options)
                .bind("geocode:result", function (event, result) {
                    $("#Lat").val(result.geometry.location.lat());
                    $("#Long").val(result.geometry.location.lng());
                })
                .bind("geocode:error", function (event, status) {
                    alert('Geocode no funcionó por lo siguiente: ' + status);
                });
            $("#StreetAddress").focusout(function () {
                $("#StreetAddress").trigger("geocode");
                updateMarker();
            });
        });
    </script>
}
